<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Item Sheet Header --}}
    <div class="flexrow" style="flex: 0">
        <div class="sheet-header-profile">
            <img class="profile" src="{{item.img}}" title="{{item.name}}" data-edit="img"/>
        </div>

        <header class="sheet-header flexrow">
        <div class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="{{localize " D35E.ItemName"}}"/>
            </h1>

            <ul class="summary">
                <li>
                    {{lookup config.classTypes data.classType}}
                </li>
            </ul>
        </div>
        <ul class="attributes flexrow">

            {{#if isTemplate}}
            <li></li>
            <li class="attribute high tooltip" data-attribute="levels">
                <span class="tooltipcontent">@classes.{{item.data.tag}}.level : {{data.systemlevels}}</span>
                <h4 class="attribute-name box-title">{{localize "D35E.BaseHD"}}</h4>
                <div class="attribute-value">
                    <input type="text" name="system.levels" value="{{data.system.levels}}" placeholder="{{localize " D35E.Level"}}"
                    data-dtype="Number"/>
                </div>
                <footer class="attribute-footer">

                </footer>
            </li>
            {{else}}
            <li class="attribute high tooltip" data-attribute="levels">
                <span class="tooltipcontent">@classes.{{item.data.tag}}.level : {{data.systemlevels}}</span>
                <h4 class="attribute-name box-title">{{localize "D35E.Level"}}</h4>
                <div class="attribute-value">
                    <input type="text" name="system.levels" value="{{data.system.levels}}" placeholder="{{localize " D35E.Level"}}"
                    data-dtype="Number"/>
                </div>
                <footer class="attribute-footer">

                </footer>
            </li>

            <li class="attribute high tooltip" data-attribute="hp">
                <span class="tooltipcontent">@classes.{{item.data.tag}}.hp : {{data.systemhp}}</span>
                <h4 class="attribute-name box-title">{{localize "D35E.HitPoints"}} {{#if healthConfig.auto}}(Auto){{/if}}</h4>
                <div class="attribute-value">
                    {{!-- Hit Points --}}
                    {{#unless healthConfig.auto}}
                        <input type="text" name="system.hp" value="{{data.system.hp}}" data-dtype="Number"/>
                    {{else}}
                        <input type="text" name="system.hp" disabled value="{{data.system.hp}}" data-dtype="Number"/>
                    {{/unless}}
                </div>
                <footer class="attribute-footer">

                </footer>
            </li>
            {{/if}}
        </ul>
    </header>
    </div>

    {{!-- Item Sheet Navigation --}}
    <section class="sheet-content flexcol">
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="description">{{ localize "D35E.Description" }}</a>
        <a class="item active" data-tab="configuration" style="flex: 0 150px;">{{ localize "D35E.Configuration" }}</a>

    </nav>

    {{!-- Item Sheet Body --}}
    <section class="primary-body" style="overflow: hidden">

        {{!-- Description Tab --}}
        {{#if hasMaxLevel}}
            <div class="tab flexcol active" data-group="primary" data-tab="description">
                <nav class="sheet-navigation tabs subtabs description" data-group="description">
                    <a class="item active" data-tab="sub-description">{{ localize "D35E.Description" }}</a>
                    <a class="item" data-tab="sub-progression">{{ localize "D35E.Progression" }}</a>
                    {{#if isNonPsionSpellcaster}}
                    <a class="item" data-tab="sub-spellcasting">{{ localize "D35E.ProgressionSpells" }}</a>
                    {{/if}}
                    {{#if isPsionSpellcaster}}
                    <a class="item" data-tab="sub-psionics">{{ localize "D35E.ProgressionPsionics" }}</a>
                    {{/if}}
                    {{#if data.system.hasSpellbook}}
                    <a class="item" data-tab="spellbook">{{localize "D35E.Spelllist"}}</a>
                    {{/if}}
                </nav>
                <div class="flexrow description-container" style="overflow: hidden; height: 100%">
                    <section class="description-body" style="display: block; height: 100%">
                        <div class="tab description-group flexcol" data-group="description"
                             data-tab="sub-description">
                            {{editor content=data.system.description.value target="system.description.value" button=true owner=owner
                            editable=editable}}
                        </div>
                        <div class="tab description-group flexcol" data-group="description" data-tab="sub-progression">
                            <div class="inventory-group flexcol">
                                <ol class="inventory-list sub-scroll" style="padding: 0">
                                    <li class="flexrow inventory-header spellbook-header">
                                        <div class="item-name flexrow progression-level">
                                            <h3>Level</h3>
                                        </div>
                                        <div class="bab progression-bab-wide">
                                            BAB
                                        </div>
                                        <div class="fort progression-save">
                                            Fort<br>Save
                                        </div>
                                        <div class="will progression-save">
                                            Will<br>Save
                                        </div>
                                        <div class="ref progression-save">
                                            Ref<br>Save
                                        </div>
                                        <div class="progression-abilities">Abilities</div>

                                    </li>

                                    <ol class="item-list">
                                        {{#each progression as |item i|}}
                                        <li class="item progression-row flexrow">
                                            <div class="item-name flexrow progression-level">
                                                <h4>{{item.level}}</h4>
                                            </div>
                                            <div class="bab progression-bab-wide">
                                                {{item.bab}}
                                            </div>
                                            <div class="fort progression-save">
                                                +{{item.fort}}
                                            </div>
                                            <div class="will progression-save">
                                                +{{item.will}}
                                            </div>
                                            <div class="ref progression-save">
                                                +{{item.ref}}
                                            </div>
                                            <div class="progression-abilities">
                                                <ol class="item-list" data-pack="D35E.class-abilities">
                                                    {{#each item.abilities as |ability iid|}}
                                                        {{#unless ability.disabled}}
                                                        <li class="item item-box progression-item  flexrow"
                                                            data-item-id="{{ability._id}}">
                                                            <div class="item-name child-item">
                                                                <img src="{{ability.item.img}}" class="progression-ability-img">
                                                                <h4 class="progression-ability-h4 rollable{{#if item.empty}} strikethrough-text{{/if}}">
                                                                    {{ability.item.name~}}
                                                                </h4>
                                                            </div>
                                                        </li>
                                                        {{/unless}}
                                                    {{/each}}
                                                    {{#if item.hasNonActive}}
                                                    {{#each item.nonActive as |ability iid|}}
                                                    <li class="item item-box progression-text" style="padding: 0"><span class="progression-ability-h4">{{ability.name}}{{#unless @last}}, {{/unless}}</span></li>
                                                    {{/each}}
                                                    {{/if}}

                                                </ol>
                                            </div>
                                        </li>
                                        {{/each}}
                                    </ol>
                                </ol>
                            </div>

                            <div>
                                <h2 class="p1" style="margin-top: 1rem">Class Features</h2>
                                {{#each abilitiesDescription as |item i|}}
                                <div class="progression-ability-description">
                                    <strong>{{item.name}}:</strong> {{{item.description}}}
                                </div>
                                {{/each}}
                            </div>
                        </div>
                        {{#if isNonPsionSpellcaster}}
                        <div class="tab description-group flexcol" data-group="description" data-tab="sub-spellcasting">

                            {{{data.systemspellcastingDescription}}}

                            <h2>{{data.systemspellcastingSpellname}} Progression Table</h2>
                            <div class="inventory-group flexcol">
                                <ol class="inventory-list sub-scroll" style="padding: 0">
                                    <li class="flexrow inventory-header spellbook-header">
                                        <div class="item-name flexrow progression-level">
                                            <h3>Level</h3>
                                        </div>
                                        <div class="progression-bab">0</div>
                                        <div class="progression-bab">1</div>
                                        <div class="progression-bab">2</div>
                                        <div class="progression-bab">3</div>
                                        <div class="progression-bab">4</div>
                                        <div class="progression-bab">5</div>
                                        <div class="progression-bab">6</div>
                                        <div class="progression-bab">7</div>
                                        <div class="progression-bab">8</div>
                                        <div class="progression-bab">9</div>

                                    </li>

                                    <ol class="item-list">
                                        {{#each spellProgression as |item i|}}
                                        <li class="item progression-row flexrow">
                                            <div class="item-name flexrow progression-level">
                                                <h4>{{item.level}}</h4>
                                            </div>
                                            <div class="progression-bab">{{item.spells0}}</div>
                                            <div class="progression-bab">{{item.spells1}}</div>
                                            <div class="progression-bab">{{item.spells2}}</div>
                                            <div class="progression-bab">{{item.spells3}}</div>
                                            <div class="progression-bab">{{item.spells4}}</div>
                                            <div class="progression-bab">{{item.spells5}}</div>
                                            <div class="progression-bab">{{item.spells6}}</div>
                                            <div class="progression-bab">{{item.spells7}}</div>
                                            <div class="progression-bab">{{item.spells8}}</div>
                                            <div class="progression-bab">{{item.spells9}}</div>
                                        </li>
                                        {{/each}}
                                    </ol>
                                </ol>
                            </div>

                            {{#if hasKnownSpells}}
                            <h2>{{data.systemspellcastingSpellnamePl}} Known</h2>
                            <div class="inventory-group flexcol">
                                <ol class="inventory-list sub-scroll" style="padding: 0">
                                    <li class="flexrow inventory-header spellbook-header">
                                        <div class="item-name flexrow progression-level">
                                            <h3>Level</h3>
                                        </div>
                                        <div class="progression-bab">0</div>
                                        <div class="progression-bab">1</div>
                                        <div class="progression-bab">2</div>
                                        <div class="progression-bab">3</div>
                                        <div class="progression-bab">4</div>
                                        <div class="progression-bab">5</div>
                                        <div class="progression-bab">6</div>
                                        <div class="progression-bab">7</div>
                                        <div class="progression-bab">8</div>
                                        <div class="progression-bab">9</div>

                                    </li>

                                    <ol class="item-list">
                                        {{#each knownSpellProgression as |item i|}}
                                        <li class="item progression-row flexrow">
                                            <div class="item-name flexrow progression-level">
                                                <h4>{{item.level}}</h4>
                                            </div>
                                            <div class="progression-bab">{{item.spells0}}</div>
                                            <div class="progression-bab">{{item.spells1}}</div>
                                            <div class="progression-bab">{{item.spells2}}</div>
                                            <div class="progression-bab">{{item.spells3}}</div>
                                            <div class="progression-bab">{{item.spells4}}</div>
                                            <div class="progression-bab">{{item.spells5}}</div>
                                            <div class="progression-bab">{{item.spells6}}</div>
                                            <div class="progression-bab">{{item.spells7}}</div>
                                            <div class="progression-bab">{{item.spells8}}</div>
                                            <div class="progression-bab">{{item.spells9}}</div>
                                        </li>
                                        {{/each}}
                                    </ol>
                                </ol>
                            </div>
                            {{/if}}
                        </div>
                        {{/if}}
                        {{#if isPsionSpellcaster}}
                        <div class="tab description-group flexcol" data-group="description" data-tab="sub-psionics">

                            {{{data.systemspellcastingDescription}}}

                            <h2>{{data.systemspellcastingSpellname}} Progression Table</h2>
                            <div class="inventory-group flexcol">
                                <ol class="inventory-list sub-scroll" style="padding: 0">
                                    <li class="flexrow inventory-header spellbook-header">
                                        <div class="item-name flexrow progression-level">
                                            <h3>Level</h3>
                                        </div>
                                        <div class="progression-pp">Power Points</div>
                                        <div class="progression-pp">Known Powers</div>
                                        <div class="progression-pp">Max Power Level</div>

                                    </li>

                                    <ol class="item-list">
                                        {{#each powerPointLevels as |powerpoint key|}}
                                        <li class="item progression-row flexrow">
                                            <div class="item-name flexrow progression-level">
                                                <h4>{{key}}</h4>
                                            </div>
                                            <div class="progression-pp">{{powerpoint.value}}</div>
                                            <div class="progression-pp">{{powerpoint.known}}</div>
                                            <div class="progression-pp">{{powerpoint.maxLevel}}</div>
                                        </li>
                                        {{/each}}
                                    </ol>
                                </ol>
                            </div>

                        </div>
                        {{/if}}

                        {{#if data.system.hasSpellbook}}
                        <div class="tab configuration-group flexcol" style="padding: 0" data-group="description" data-tab="spellbook">
                            {{> "systems/D35E/templates/items/parts/item-spellbook-list.html"}}
                        </div>
                        {{/if}}
                    </section>
                </div>
            </div>
        {{else}}

            <div class="tab flexcol active" data-group="primary" data-tab="description">
        <section class="description-body flexcol" style="height: 385px">
                {{editor content=data.system.description.value target="data.description.value" button=true owner=owner
                editable=editable}}
        </section>
        </div>
        {{/if}}


        <div class="tab flexcol active" data-group="primary" data-tab="configuration">
            <nav class="sheet-navigation tabs subtabs configuration" data-group="configuration">

                <a class="item active" data-tab="details">{{ localize "D35E.Details" }}</a>
                <a class="item" data-tab="children">{{ localize "D35E.Children" }}</a>
                <a class="item" data-tab="changes">{{localize "D35E.Changes"}}</a>
                {{#if data.system.hasSpellbook}}
                <a class="item" data-tab="spellbook">{{localize "D35E.Spelllist"}}</a>
                {{/if}}
            </nav>

            <div class="flexrow configuration-container" style="overflow: hidden; height: 100%">
                <section class="configuration-body" style="display: block; height: 100%">
                    {{!-- Details Tab --}}
                    <div class="tab configuration-group details" data-group="configuration" data-tab="details">

                        {{!-- Class Type --}}
                        <div class="form-group">
                            <label>{{localize "D35E.ClassType"}}</label>
                            <select name="system.classType">
                                {{#select data.system.classType}}
                                {{#each config.classTypes as |name type|}}
                                <option value="{{type}}">{{name}}</option>
                                {{/each}}
                                {{/select}}
                            </select>
                        </div>

                        {{!-- Racial Type --}}
                        {{#if isRacialHD}}
                        <div class="form-group">
                            <label>{{localize "D35E.CreatureType"}}</label>
                            <select name="system.creatureType">
                                {{#select data.system.creatureType}}
                                {{#each config.creatureTypes as |name type|}}
                                <option value="{{type}}">{{name}}</option>
                                {{/each}}
                                {{/select}}
                            </select>
                        </div>
                        {{/if}}


                        {{#if isTemplate}}
                        <div class="form-group">
                            <label>{{localize "D35E.LA"}}</label>
                            <input type="text" name="system.la" value="{{data.system.la}}" data-dtype="Number" />
                        </div>
                        {{!-- Racial Type --}}
                        <div class="form-group">
                            <label>{{localize "D35E.CreatureType"}}</label>
                            <select name="system.creatureType">
                                {{#select data.system.creatureType}}
                                <option value="">{{localize "D35E.NoChange"}}</option>
                                {{#each config.creatureTypes as |name type|}}
                                <option value="{{type}}">{{name}}</option>
                                {{/each}}
                                {{/select}}
                            </select>
                        </div>
                        {{/if}}
                        {{!-- HD --}}
                        <div class="form-group">
                            <label>{{localize "D35E.HitDie"}}</label>
                            <input type="text" name="system.hd" value="{{data.system.hd}}" data-dtype="Number"/>
                        </div>



                        {{!-- BAB --}}
                        <div class="form-group">
                            <label>{{localize "D35E.BABAbbr"}}</label>
                            <select name="system.bab">
                                {{#select data.system.bab}}
                                <option value="">{{localize "D35E.None"}}</option>
                                {{#each config.classBAB as |name value|}}
                                <option value="{{value}}">{{name}}</option>
                                {{/each}}
                                {{/select}}
                            </select>
                        </div>

                        {{!-- Skills/Level --}}
                        <div class="form-group">
                            <label>{{localize "D35E.SkillsPerLevel"}}</label>
                            <input type="text" name="system.skillsPerLevel" value="{{data.system.skillsPerLevel}}" data-dtype="Number"/>
                        </div>

                        <div class="form-group">
                            <label>{{localize "D35E.CRPerHD"}}</label>
                            <input type="text" name="system.crPerHD" value="{{data.system.crPerHD}}" data-dtype="Number"/>
                        </div>

                        <div class="form-group">
                            <label>{{localize "D35E.MaxLevel"}}</label>
                            <input type="text" name="system.maxLevel" value="{{data.system.maxLevel}}" data-dtype="Number"/>
                        </div>

                        <div class="form-group">
                            <label>{{localize "D35E.AutomaticFeatures"}}</label>
                            <label class="checkbox" style="flex: 0 16px; margin-right: 8px; position: relative">
                                <input type="checkbox" class="stylized auto-save" name="system.automaticFeatures" {{#if data.system.automaticFeatures}}checked{{/if}}/>
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <em>{{localize "D35E.MaxLevelAutomationInfo"}}</em>

                        <h4 class="form-header">{{localize "D35E.SavingThrowPlural"}}</h4>

                        {{!-- Saving Throws --}}
                        {{#each data.system.savingThrows as |savingThrow id|}}
                        <div class="form-group">
                            <label>{{savingThrow.label}}</label>
                            <select name="system.savingThrows.{{id}}.value">
                                {{#select savingThrow.value}}
                                <option value="">{{localize "D35E.None"}}</option>
                                {{#each ../config.classSavingThrows as |name value|}}
                                <option value="{{value}}">{{name}}</option>
                                {{/each}}
                                {{/select}}
                            </select>
                        </div>
                        {{/each}}


                        <h4 class="form-header">{{localize "D35E.AdditionalClassFeatures"}}</h4>
                        <div class="form-group">
                            <label>{{localize "D35E.TurnUndeadFormula"}}</label>
                            <input type="text" name="system.turnUndeadLevelFormula" value="{{data.system.turnUndeadLevelFormula}}"
                                   data-dtype="String"/>
                        </div>

                        <div class="form-group">
                            <label>{{localize "D35E.SneakAttackGroup"}}</label>
                            <input type="text" name="system.sneakAttackGroup" value="{{data.system.sneakAttackGroup}}" data-dtype="String"/>
                        </div>

                        <div class="form-group">
                            <label>{{localize "D35E.SneakAttackFormula"}}</label>
                            <input type="text" name="system.sneakAttackFormula" value="{{data.system.sneakAttackFormula}}"
                                   data-dtype="String"/>
                        </div>
                        <div class="form-group">
                            <label>{{localize "D35E.MinionGroup"}}</label>
                            <input type="text" name="system.minionGroup" value="{{data.system.minionGroup}}" data-dtype="String"/>
                        </div>

                        <div class="form-group">
                            <label>{{localize "D35E.MinionLevelFormula"}}</label>
                            <input type="text" name="system.minionLevelFormula" value="{{data.system.minionLevelFormula}}"
                                   data-dtype="String"/>
                        </div>

                        <div class="form-group">
                            <label>{{localize "D35E.HandSizeFormula"}}</label>
                            <input type="text" name="system.deckHandSizeFormula" value="{{data.system.deckHandSizeFormula}}" data-dtype="String"/>
                        </div>

                        <div class="form-group">
                            <label>{{localize "D35E.KnownCardsFormula"}}</label>
                            <input type="text" name="system.knownCardsSizeFormula" value="{{data.system.knownCardsSizeFormula}}" data-dtype="String"/>
                        </div>


                        <div class="form-group">
                            <label class="checkbox skill-cs">
                                <label>{{localize "D35E.DeckPrestigeClass"}}</label>
                                <input type="checkbox" name="system.deckPrestigeClass" {{checked data.system.deckPrestigeClass}}/>
                            </label>
                            </div>
                        {{#if false}}
                        <h4 class="form-header">{{localize "D35E.FavouredClassBonuses"}}</h4>

                        {{!-- Favoured Class Bonuses --}}
                        {{#each data.system.fc as |fc id|}}
                        <div class="form-group">
                            <label>{{fc.label}}</label>
                            <input type="text" name="system.fc.{{id}}.value" value="{{fc.value}}" data-dtype="Number"/>
                        </div>
                        {{/each}}
                        {{/if}}


                        <h4 class="form-header">{{localize "D35E.ClassAbilities"}}</h4>
                        <div class="data-selector">
                            <div class="form-group">
                                <label>{{localize "D35E.NonActiveClassAbilities"}}</label><a class="entry-selector"
                                                                                             for="system.nonActiveClassAbilities"
                                                                                             data-fields="{{localize " D35E.Level"}};Ability;Description"
                                data-dtypes="Number;String;String"><i class="fas fa-edit"></i></a>
                            </div>
                        </div>
                        <h4 class="form-header">{{localize "D35E.ClassSkills"}}</h4>

                        <div class="form-group">
                            <ol class="item-list">
                                {{#each skills as |skill key|}}
                                <li class="item flexrow" data-skill="{{key}}">
                                    <label class="checkbox skill-cs">
                                        <input type="checkbox" name="system.classSkills.{{key}}" {{checked skill.classSkill}}/>
                                    </label>
                                    <h4>{{skill.name}}</h4>
                                </li>
                                {{/each}}
                            </ol>
                        </div>
                        <h4 class="form-header">{{localize "D35E.Spellcasting"}}</h4>

                        <div class="form-group">
                            <label>{{localize "D35E.SpellcastingType"}}</label>
                            <select name="system.spellcastingType">
                                {{#select data.system.spellcastingType}}
                                {{#each config.spellcastingType as |name type|}}
                                <option value="{{type}}">{{localize name}}</option>
                                {{/each}}
                                {{/select}}
                            </select>
                        </div>


                        {{#if isSpellcaster}}
                        <div class="form-group spellcasting-ability flexrow">
                            <label><span>{{localize "D35E.SpellcastingAbility"}}</span></label>
                            <select name="system.spellcastingAbility" data-dtype="String">
                                {{#select data.system.spellcastingAbility}}
                                <option value="">{{localize "D35E.None"}}</option>
                                {{#each config.abilities as |abl a|}}
                                <option value="{{a}}">{{abl}}</option>
                                {{/each}}
                                {{/select}}
                            </select>
                        </div>
                        <div class="form-group spellcasting-ability flexrow">
                            <label><span>{{localize "D35E.SpellslotAbility"}}</span></label>
                            <select name="system.spellslotAbility" data-dtype="String">
                                {{#select data.system.spellslotAbility}}
                                <option value="">{{localize "D35E.SpellcastingAbility"}}</option>
                                {{#each config.abilities as |abl a|}}
                                <option value="{{a}}">{{abl}}</option>
                                {{/each}}
                                {{/select}}
                            </select>
                        </div>
                        <div class="data-selector">
                            <div class="form-group">
                                <label>{{localize "D35E.SpellsPerLevel"}}</label><a class="entry-selector" for="system.spellsPerLevel"
                                                                                    data-progression="true"
                                                                                    data-fields="{{localize " D35E.Level"}};0;1;2;3;4;5;6;7;8;9"
                                data-dtypes="Number;Number;Number;Number;Number;Number;Number;Number;Number;Number;Number;"><i
                                    class="fas fa-edit"></i></a>
                            </div>
                        </div>


                        <div class="data-selector">
                            <div class="form-group">
                                <label>{{localize "D35E.SpellsKnownPerLevel"}}</label><a class="entry-selector" for="system.spellsKnownPerLevel"
                                                                                    data-progression="true"
                                                                                    data-fields="{{localize " D35E.Level"}};0;1;2;3;4;5;6;7;8;9"
                                data-dtypes="Number;Number;Number;Number;Number;Number;Number;Number;Number;Number;Number;"><i
                                    class="fas fa-edit"></i></a>
                            </div>
                        </div>


                        <div class="form-group">
                            <label>{{localize "D35E.SpellcastingSpellname"}}</label>
                            <input type="text" name="system.spellcastingSpellname" value="{{data.system.spellcastingSpellname}}" data-dtype="String"/>
                        </div>
                        <div class="form-group">
                            <label>{{localize "D35E.SpellcastingSpellnamePl"}}</label>
                            <input type="text" name="system.spellcastingSpellnamePl" value="{{data.system.spellcastingSpellnamePl}}" data-dtype="String"/>
                        </div>

                        <div class="form-group">
                            <label>{{localize "D35E.SpellPrepSpontaneous"}}</label>
                            <label class="checkbox" style="flex: 0 16px; margin-right: 8px; position: relative">
                                <input type="checkbox" class="stylized auto-save" name="system.spellcastingSpontaneus" {{#if data.system.spellcastingSpontaneus}}checked{{/if}}/>
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="form-group">
                            <label>{{localize "D35E.HasSpecialSpellSlot"}}</label>
                            <label class="checkbox" style="flex: 0 16px; margin-right: 8px; position: relative">
                                <input type="checkbox" class="stylized auto-save" name="system.hasSpecialSlot" {{#if data.system.hasSpecialSlot}}checked{{/if}}/>
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="form-group">
                            <label>{{localize "D35E.UseSpellList"}}</label>
                            <label class="checkbox" style="flex: 0 16px; margin-right: 8px; position: relative">
                                <input type="checkbox" class="stylized auto-save" name="system.hasSpellbook" {{#if data.system.hasSpellbook}}checked{{/if}}/>
                                <span class="checkmark"></span>
                            </label>
                        </div>

                        <div class="form-group">
                            <label>{{localize "D35E.KnowsAllSpells"}}</label>
                            <label class="checkbox" style="flex: 0 16px; margin-right: 8px; position: relative">
                                <input type="checkbox" class="stylized auto-save" name="system.allSpellsKnown" {{#if data.system.allSpellsKnown}}checked{{/if}}/>
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="form-group">
                            <label>{{localize "D35E.HalfCasterLevel"}}</label>
                            <label class="checkbox" style="flex: 0 16px; margin-right: 8px; position: relative">
                                <input type="checkbox" class="stylized auto-save" name="system.halfCasterLevel" {{#if data.system.halfCasterLevel}}checked{{/if}}/>
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <label>{{localize "D35E.SpellcastingDescription"}}</label>
                        {{editor content=data.system.spellcastingDescription target="data.spellcastingDescription" button=true owner=owner
                        editable=editable}}


                        {{#if isPsionSpellcaster}}
                        <h4 class="form-header">{{localize "D35E.PowerPointsTable"}}</h4>

                        <div class="form-group spellcasting-ability">
                            <label>{{localize "D35E.PowerPointsBaseAbility"}}</label>
                            <select name="system.powerPointBonusBaseAbility" data-dtype="String">
                                {{#select powerPointBonusBaseAbility}}
                                <option value="">{{localize "D35E.None"}}</option>
                                {{#each abilities as |abl a|}}
                                <option value="{{a}}">{{localize abl.label}}</option>
                                {{/each}}
                                {{/select}}
                            </select>
                        </div>
                        <div class="form-group">
                            <ol class="item-list">

                                <li class="inventory-header flexrow">
                                    <h3 class="item-name flexrow">Level</h3>
                                    <div class="item-detail item-type">
                                        <span>Power Points</span></div>
                                    <div class="item-detail item-type">
                                        <span>Powers Known</span></div>
                                    <div class="item-detail item-type">
                                        <span>Max Power Level</span></div>
                                </li>
                                {{#each powerPointLevels as |powerpoint key|}}
                                <li class="item flexrow">
                                    <label>{{key}}</label>
                                    <input class="item-detail item-type" type="text" name="system.powerPointTable.{{key}}"
                                           value="{{powerpoint.value}}" data-dtype="Number"/>
                                    <input class="item-detail item-type" type="text" name="system.powersKnown.{{key}}"
                                           value="{{powerpoint.known}}" data-dtype="Number"/>
                                    <input class="item-detail item-type" type="text" name="system.powersMaxLevel.{{key}}"
                                           value="{{powerpoint.maxLevel}}" data-dtype="Number"/>
                                </li>
                                {{/each}}
                            </ol>
                        </div>
                        {{/if}}
                        {{/if}}
                    </div>


                    <div class="tab configuration-group flexcol" style="padding: 0" data-group="configuration" data-tab="children">
                        {{> "systems/D35E/templates/items/parts/item-children.html"}}
                    </div>

                    <div class="tab configuration-group flexcol" data-group="configuration" data-tab="changes">
                        {{> "systems/D35E/templates/items/parts/item-changes.html"}}

                        {{> "systems/D35E/templates/items/parts/item-notes.html"}}
                    </div>
                    {{#if data.system.hasSpellbook}}
                    <div class="tab configuration-group flexcol" style="padding: 0" data-group="configuration" data-tab="spellbook">
                        {{> "systems/D35E/templates/items/parts/item-spellbook.html"}}
                    </div>
                    {{/if}}
                </section>
            </div>
        </div>
    </section>
    </section>
</form>
